@tailwind base;

@tailwind components;

.nav-link {
  @apply px-6 my-4 text-white;
  font-family: 'Underland Sans';
}

.font-brand {
  font-family: Farmhand;
}

.font-body {
  font-family: 'Underland Sans';
}

.verygood-font {
  font-family: "Indigo Regular";
}

@tailwind utilities;