@tailwind base;

@tailwind components;

.font-brand {
  font-family: "Farmhand";
}

.font-body {
  font-family: "Underland Sans";
}

.font-link {
  font-family: "Underland Sans";
}

.nav-link {
  @apply font-link text-white mx-4 my-4;
}


@tailwind utilities;